<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviral E-Lib</title>
    <link rel="icon" href="{{ url_for('static', filename='image/logo-no-background.png')}}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block link_css %}
        
    {% endblock link_css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light  bg-secondary">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo1.png')}}" alt="Logo" height="60" width="80" style="padding-right: 7%;">Aviral E-Lib</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if session.get('user') %}
                        <h5 class="nav-link">Welcome {{ session.get('user')['name']}}</h5> 
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/librarian_dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/librarian_profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/handle_requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container bg-light">
        <div class="row justify-content-center">
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_books') }}" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_value">
                <select class="form-control mr-sm-2" name="search_criteria">
                    <option value="">Select Option</option>
                    <option value="section">Search By Section Name</option>
                    <option value="author">Search By Author Name</option>
                    <option value="title">Search By Book Name</option> 
                </select>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    
    {% block content %}
    
    {% endblock content %}
   

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
