{% extends 'basefor_user.html' %}
{% block content %}
<div class="container mt-2">
    <div class="row pb-2">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Section Name: {{ section.section_name }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% for book in books %}
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=book.image.replace('\\', '/')) }}" class="card-img-top" alt="{{ book.title }}" style="height: 150px;">
                <div class="card-body p-2">
                    <h6 class="card-title mb-1">{{ book.title }}</h6>
                    <p class="card-text mb-1">{{ book.author }}</p>
                    <p class="card-text mb-1">{{ book.content }}</p>
                    <p class="card-text mb-1">₹ {{ book.price_per_day }}</p>
                    <form action="{{ url_for('purchase') }}" method="post">
                        <input type="hidden" name="book_id" value="{{ book.id }}">
                        <button type="submit" class="btn btn-success btn-sm mt-1">Buy E-Book <i class="fas fa-shopping-cart"></i></button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
